@model Appointer.Models.Job


@{
    ViewBag.Title = "ثبت نام همکاران برای کار";
    Layout = "~/Views/shared/_layout.cshtml";
}

    <div class="info text-center">
        <div class="info-title"><strong>ثبت نام در کار</strong></div>
        <hr>
    </div>
    @ViewBag.Error
    @ViewBag.Message
    @using (Html.BeginForm("EnrollJob", "JCDashboard", FormMethod.Post, new { @class = "form-horizontal text-center" }))
    {
                <label for="EnrollmentKey">کد: </label><br />
                @*@Html.TextBoxFor(m => m.EnrollmentKey)
                @Html.ValidationMessageFor(m => m.EnrollmentKey)*@

                <input type="text" id="EnrollmentKeyValue" name="EnrollmentKeyValue" value="" />
                <br/>
                <br />
                <input type="button" id="checkoutJob" class="btn-info" value="بررسی" />
                <div class="ajaxRes"></div>

                <br />


            <br />
                <button class="btn btn-default-custom" type="submit" value="Enroll Job">ثبت نام</button>
            
    }
@section Scripts{
<script type="text/javascript">
$(document).ready(function () {
  var url = '@Url.Action("JsonCheck")'; // add controller name is necessary
    $('#checkoutJob').click(function () {
        $.getJSON(url, { ekey: $('#EnrollmentKeyValue').val() }, function (response) {
        //alert(response);
        if (response == false) {

            $(".ajaxRes").html("<br/><span style='color: red;'>شغلی با کد ارسالی شما یافت نشد</span>");
            
        }
        else
        {
            $(".ajaxRes").html("<br/>"+response.Title + "<hr><span style='color: blue;'>صاحب کار:</span><br/>" + response.JobOwner + "<hr><span style='color: blue;'>شماره تماس:</span><br/>" + response.JobPhone + "<hr><span style='color: blue;'>آدرس:</span><br/>" + response.City+"<br/>"+response.Address);


        }
    });
  });
});

</script>
}