@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="jumbotron text-center">
        <h1>منشی دیجیتال</h1>
        <p>رزرو وقت و مدیریت زمان</p>
        <a href="~/Main/Jobs" class="btn btn-default-custom" style="z-index: 999;" data-toggle="modal" data-target="#pursuanceModal">جستجوی مشاغل</a>

    </div>
</div>
    <hr />

    <h5 class="text-center">طراح و برنامه نویس:<br/>سینا ابراهیمی</h5>
    <br />
    
    <br />
    <h5 class="text-center"><a href="mailto:ebrahimi.sina.1372@gmail.com">ebrahimi.sina.1372@gmail.com</a></h5>
