@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="row">
    <div class="jumbotron text-center">
        <h1>منشی دیجیتال</h1>
        <p>رزرو وقت و مدیریت زمان</p>
        <a href="~/Main/Jobs" class="btn btn-default-custom" style="z-index: 999;" data-toggle="modal" data-target="#pursuanceModal">جستجوی مشاغل</a>

    </div>
</div>

<div class="row placeholders center-block">
    <div class="col-xs-6 col-sm-4 placeholder">
        <h4>پیرایش</h4>
        <br />
        <img src="~/Content/img/barber.png" width="200" height="200" class="img-responsive" alt="Barber">
        <br />
        @Html.ActionLink("آرایشگاه ها", "Jobs", "Main", new { jobtype = "پیرایش" }, htmlAttributes: new { @class = "btn btn-default-custom" })
    </div>
    <div class="col-xs-6 col-sm-4 placeholder">
        <h4>تجارت</h4>
        <br />
        <img src="~/Content/img/business.png" width="200" height="200" class="img-responsive" alt="Business">
        <br />
        @Html.ActionLink("تاجران", "Jobs", "Main", new { jobtype = "تجارت" }, htmlAttributes: new { @class = "btn btn-default-custom" })
    </div>
    <div class="col-xs-6 col-sm-4 placeholder">
        <h4>پزشکی</h4>
        <br />
        <img src="~/Content/img/doctor.png" width="200" height="200" class="img-responsive" alt="Medical">
        <br />
        @Html.ActionLink("پزشکان", "Jobs", "Main", new { jobtype = "پزشکی" }, htmlAttributes: new { @class = "btn btn-default-custom" })
    </div>
</div>