@font-face {
    font-family: 'IRANSansLight';
    src: url('../fonts/IRANSansLight.eot');
    src: url('../fonts/IRANSansLight.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansLight.woff') format('woff'), url('../fonts/IRANSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansMedium';
    src: url('../fonts/IRANSansMedium.eot');
    src: url('../fonts/IRANSansMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansMedium.woff') format('woff'), url('../fonts/IRANSansMedium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Web Yekan';
    src: url('../fonts/web_Yekan.eot');
    src: url('../fonts/web_Yekan.eot?#iefix') format('embedded-opentype'), url('../fonts/web_Yekan.woff') format('woff'), url('../fonts/web_Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IRANSans', 'Web Yekan', Tahoma, sans-serif !important;
    font-size: 17px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
    border: 0;
}

.navbar .fa {
    font-size: 20px;
    padding: 15px 15px;
}


.sidebar {
    display: none;
    position: fixed;
    height: 100%;
    width: 125px;
    top: 50px;
    line-height: 25px;
    background-color: #ecf0f1;
    list-style: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-left: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-left: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-right: -20px;
    padding: 15px 20px 15px 20px;
}

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #18BC9C;
    }

.jumbotron {
    background: url("../Content/img/index.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 100px 25px;
    margin: -35px -120px;
    font-family: 'IRANSans', 'Web Yekan', Tahoma, sans-serif !important;
}

.footer-bottom {
    font-size: small;
    text-align: justify;
    overflow: hidden;
    background-color: #18BC9C;
    position: fixed;
    right: 175px;
    left: 0;
    bottom: 0;
    height: 20px;
}
