@font-face {
    font-family: 'IRANSansLight';
    src: url('../fonts/IRANSansLight.eot');
    src: url('../fonts/IRANSansLight.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansLight.woff') format('woff'), url('../fonts/IRANSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansMedium';
    src: url('../fonts/IRANSansMedium.eot');
    src: url('../fonts/IRANSansMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansMedium.woff') format('woff'), url('../fonts/IRANSansMedium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Web Yekan';
    src: url('../fonts/web_Yekan.eot');
    src: url('../fonts/web_Yekan.eot?#iefix') format('embedded-opentype'), url('../fonts/web_Yekan.woff') format('woff'), url('../fonts/web_Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IRANSans', 'Web Yekan', Tahoma, sans-serif !important;
    font-size: 15px;
    padding-top: 50px;
    background-color: white;
    color: black;
}

h4 {
    color: #ff515b;
    font-size: 19px;
    font-weight: bold;
}

.navbar {
    font-size: 13px;
    background-color: black;
    color: white;
}

.navbar-collapse .navbar-nav > li > a {
    color: white;
    background-color: black;
}

    .navbar-collapse .navbar-nav > li > a:hover,
    .navbar-collapse .navbar-nav > li > a:focus {
        background-color: #ff515b;
        color: white;
    }

.navbar .fa {
    font-size: 17px;
    color: white;
}

.navbar .navbar-inverse {
    background-color: black;
}

.navbar-fixed-top {
    border: 0;
    height: 50px;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        width: 10%;
        line-height: 25px;
        top: 51px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #eef1f6;
        border-left: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-left: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-right: -20px;
    padding: 15px 20px 15px 20px;
}

    .nav-sidebar > li > a {
        color: black;
    }

        .nav-sidebar > li > a:hover {
            color: white;
            background-color: #ff515b;
        }

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: white;
        background-color: #ff515b;
    }

.main-countainer {
    padding: 10px;
    margin: 0px;
}

@media (min-width: 768px) {
    .main-countainer {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.jumbotron {
    background: url("../Content/img/index.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

    .placeholders h4 {
        margin-bottom: 0;
    }

.placeholder {
    margin-bottom: 20px;
}

    .placeholder img {
        display: inline-block;
        border-radius: 5%;
    }

.btn-sina {
    background-color: #ff515b;
    color: white;
}

    .btn-sina:hover {
        background-color: #ff515b;
        color: black;
    }

.footer-bottom {
    font-size: small;
    text-align: justify;
    overflow: hidden;
    background-color: #18BC9C;
    position: fixed;
    right: 175px;
    left: 0;
    bottom: 0;
    height: 20px;
}
