@font-face {
    font-family: 'IRANSansLight';
    src: url('../fonts/IRANSansLight.eot');
    src: url('../fonts/IRANSansLight.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansLight.woff') format('woff'), url('../fonts/IRANSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansMedium';
    src: url('../fonts/IRANSansMedium.eot');
    src: url('../fonts/IRANSansMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansMedium.woff') format('woff'), url('../fonts/IRANSansMedium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Web Yekan';
    src: url('../fonts/web_Yekan.eot');
    src: url('../fonts/web_Yekan.eot?#iefix') format('embedded-opentype'), url('../fonts/web_Yekan.woff') format('woff'), url('../fonts/web_Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IRANSansLight', 'Web Yekan', Tahoma, sans-serif !important;
    font-size: 15px;
    padding-top: 50px;
    background-color: white;
    color: black;
}

h4 {
    font-family: 'IRANSansLight', 'Web Yekan', Tahoma, sans-serif !important;
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-family: 'IRANSansLight', 'Web Yekan', Tahoma, sans-serif !important;
    /*color: #ff515b;*/
    color: #008200;
    font-size: 17px;
    font-weight: bold;
}

h2 {
    font-family: 'IRANSansMedium', 'Web Yekan', Tahoma, sans-serif !important;
   color: #008200;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    font-family: 'IRANSansMedium', 'Web Yekan', Tahoma, sans-serif !important;
    color: #008200;
    font-size: 19px;
    font-weight: bold;
}


    .navbar-nav > li > a {
        color: white;
    }

        .navbar-nav > li > a:hover {
           color: #008200;
            /*color: white;*/
            background-color: transparent;
            font-weight: bold;
        }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: #008200;
        /*background-color: #ff0000;*/
        font-weight: bold;
    }


.navbar {
    font-size: 15px;
    background-color: black;
    /*color: white;*/
    color: #008200;
    z-index: 999;
}

/*.navbar-collapse .navbar-nav > li > a {
    color: white;
    background-color: black;
    line-height: 15px;
}

    .navbar-collapse .navbar-nav > li > a:hover,
    .navbar-collapse .navbar-nav > li > a:focus {
       
       color: #008200;
        font-weight: bold;
        
    }

     .navbar-collapse .navbar-nav .fa > li > a:hover,
    .navbar-collapse .navbar-nav .fa > li > a:focus {
       
       color: #008200;
        font-weight: bold;
        
    }
.navbar .fa {
    font-size: 15px;
    color: white;
}
.navbar .fa:hover,
.navbar .fa:focus {
    font-size: 15px;
    color: #008200;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
    color: #008200;
    font-size: 15px;
}*/

.navbar .navbar-inverse {
    background-color: black;
}

.navbar-fixed-top {
    border: 0;
    height: 50px;
}

.sidebar {
    display: none;
    z-index: 998;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        width: 100px;
        line-height: 25px;
        top: 51px;
        bottom: 0;
        right: 0;
        float: right;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #eef1f6;
        border-left: 1px solid #eee;
    }
}

.nav-sidebar {
    text-align: center;
    margin-left: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-right: -40px;
    padding: 15px 20px 15px 20px;
}

    .nav-sidebar > li > a {
        color: black;
    }

        .nav-sidebar > li > a:hover {
           color: #008200;
            /*color: white;*/
            /*background-color: #ff0000;*/
            font-weight: bold;
        }

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #008200;
        /*background-color: #ff0000;*/
        font-weight: bold;
    }

.main-countainer {
    padding: 10px;
    margin: 0px;
}

@media (min-width: 768px) {
    .main-countainer {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.jumbotron {
    background: url("../Content/img/index.jpg") no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    font-family: 'IRANSansMedium', 'Web Yekan', Tahoma, sans-serif !important;
    color: white;
    z-index: 997;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
    z-index: 997;
}

    .placeholders h4 {
        margin-bottom: 0;
    }

.placeholder {
    margin-bottom: 20px;
}

    .placeholder img {
        display: inline-block;
        border-radius: 5%;
    }

.btn-sina {
    background-color: #ff0000;
    color: white;
}

    .btn-sina:hover {
        background-color: #ff0000;
        color: black;
        font-weight: bold;
        z-index: 999;
    }

.footer-bottom {
    font-family: 'IRANSansLight', 'Web Yekan', Tahoma, sans-serif !important;
    text-align: justify;
    overflow: hidden;
    background-color: #18BC9C;
    position: fixed;
    right: 175px;
    left: 0;
    bottom: 0;
    height: 20px;
}
